footer{
  height: 500px;
}
#adbannerfoot{
  height: 100px;
}
#padder{
  height: 50px;width: 100%;
}
#footer{
  height: 350px;
}
#lowerfoot div{
  display: inline;
}
#juridisk{
  float: right;
}
#lowerfoot{
  padding: 15px 0px;
  box-sizing: border-box;
  max-height: 50px;
  min-height: 50px;
}
#upperfoot{
  height: 300px;
}
